.table-person{
  width: 95%;
  height:95px;
  margin-left: 10px;
}

.td-name {
  text-align: left;
  font-weight: bold;
  font-size: 200%;
  width:80%;
}

.td-avatar{
  text-align: right;
  border-radius: 50%;
  height:65px;
  margin-right: 5px;
}

.td-descr {
  text-align: left;
  font-size: 15px;
}
